# Archivos y carpetas que no deben copiarse al contenedor
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
.git
.gitignore
data/
.vscode/
.idea/
*.db
*.sqlite3
mysql+pymysql://root:password@mysql:3306/
venv/
__pypackages__/
*.egg-info/
podman-compose.yaml
.pytest_cache/
instance/
manage_roles.py
