__pycache__/
*.pyc
.env
*.db
venv/
.idea/
.vscode/
__pypackages__/
*.egg-info/
podman-compose.yaml
__pycache__
.pytest_cache
instance/
docker-compose.yaml
docker-compose.yml
check_privileges.py
data/
