__pycache__/
*.pyc
.env
*.db
venv/
.idea/
.vscode/
__pypackages__/
*.egg-info/
podman-compose.yaml
__pycache__
.pytest_cache
instance/
check_privileges.py
instance/
mysql+pymysql://root:password@mysql:3306/
admin_test.py
admin_test.sh
manage_roles.py
